@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Jersey 10", sans-serif;
    background: #373F51;
}

.calculator {
    background: #AEB4C2;
    max-width: 300px;
    width: 100%;
    margin: 5rem auto;

    /* Testing Styles */
    border: 2px black solid;
}

.screen {
    background: #F3F4F6;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 4px;
    padding: 2px;
    height: 64px;
    /* Testing Styles */
    border: 2px black solid;
}

.buttons {
    display: flex;
    flex-direction: column;
    margin: 8px;
    gap: 16px;
}

.row {
    display: flex;
    justify-content: center;
    gap: 12px;
}

.row > button {
    font-family: "Jersey 10", sans-serif;
    font-size: 24px;
    background: #2A2E3C;
    color: white;
    border: none;
    border-radius: 24px;
    width: 108px;
    height: 48px;
}

.row > button:hover {
    cursor: pointer;
    background: #094D5D;
}

.row > .undo {
    background: #D1345B;
}
.row > .undo:hover {
    background: #DD6986;
}

#equals {
    background: #1B998B;
}

#equals:hover {
    background: #2FDAC6;
}